.order-bar {
  padding-left: 15px;
  padding-right: 15px;
  background-color: gainsboro;
  border: 1px solid black;
  border-bottom: 2px solid black;
}
.order-bar > div {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-style: bold;
  overflow: clip;
  white-space: nowrap;
}
.bug-list {
  max-width: 1000px;
}
.clickable {
  cursor: pointer;
}
